Week1 - Homework1 - `Lifan Lin`

Let's take a look at whether we can predict the number of bicycle trips across Seattle's Fremont Bridge based on weather, season, and other factors. We have a dataset with number of bikers that crossed the bridge on a particular day and some accompanying data for that day. We will perform a simple linear regression to relate weather and other information to bicycle counts, in order to estimate how a change in any one of these parameters affects the number of riders on a given day.

Let's download the dataset and have a look at it.

In [ ]:
# !gdown 12OEFoq_65x6Sy4doc24FwHu1ujKpbXSn

Downloading...
From: https://drive.google.com/uc?id=12OEFoq_65x6Sy4doc24FwHu1ujKpbXSn
To: /content/bikers_data.csv
100% 213k/213k [00:00<00:00, 83.3MB/s]

Here I run the notebook locally, so I just load the data from my local directory.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Examine the columns in the dataset.

In [3]:
# Load Data
data = pd.read_csv("bikers_data.csv", index_col="Date")
data

,Number of bikers,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
Date,,,,,,,,,,,,,
2012-10-03,14084.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.277359,0.00,56.0,1
2012-10-04,13900.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.219142,0.00,56.5,1
2012-10-05,12592.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.161038,0.00,59.5,1
2012-10-06,8024.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.103056,0.00,60.5,1
2012-10-07,8568.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.045208,0.00,60.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,4552.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,8.237706,0.01,41.0,0
2019-12-28,3352.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,8.245532,0.00,44.0,1
2019-12-29,3692.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8.254701,0.01,45.5,0
2019-12-30,7212.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.265207,0.04,45.5,0
2019-12-31,4568.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.277039,0.26,49.5,0

In [4]:
# We use the following columns for our training.
data_x = data[['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun',
                'holiday', 'daylight_hrs', 'Rainfall (in)',
                'dry day']].to_numpy()

# Separating out the target values.
data_y = data[["Number of bikers"]].to_numpy()

data_x.shape, data_y.shape

((2646, 11), (2646, 1))

In [12]:
data_x = np.hstack((np.ones((data_x.shape[0], 1)), data_x))
XTX = np.matmul(data_x.T, data_x)
#solve for w
w = np.linalg.solve(XTX, np.matmul(data_x.T, data_y))
w

array([[ 62764.146685  ],
       [-62288.37369511],
       [-61844.94554556],
       [-61946.80107045],
       [-62448.10941205],
       [-63814.38417947],
       [-69457.15410163],
       [-69811.66962066],
       [ -5064.49893164],
       [   984.69717451],
       [ -2410.55753067],
       [  2504.52281   ]])

## a) Split the dataset into training and testing sets

Split the dataset into training and testing sets. Keep 80% of the data for training and 20% of the data for testing.

In [6]:
# Split the data into training/testing sets
# sample train idxs and test idxs
idx_train = np.random.choice(data_x.shape[0], int(data_x.shape[0]*0.8), replace=False)
idx_test = np.setdiff1d(np.arange(data_x.shape[0]), idx_train)
# sample from data
X_train, X_test, y_train, y_test = data_x[idx_train], data_x[idx_test], data_y[idx_train], data_y[idx_test]

## b) Train a linear regression model

Build a linear regression model for predicting the numner of bikers using the mean squared error loss function.

The linear model will be in the form:
$$
\begin{align}
y =& w_0 + w_1 x_1 + w_2 x_2 + ... + w_n x_n\\
=& \mathbf{w}^T \mathbf{x}\\
=& \sum_{i=0}^n w_i x_i
\end{align}
$$
where $x_i$ is the $i$-th feature of the input data $\mathbf{x}$, namely
and $w_i$ is the $i$-th weight of the model. Specially, $w_0$ is the bias term, assigned with constant value 1.

## c) Predict and Evaluate

Predict on the test set and calculate the average absolute error between predictions and true value.

Comment on the results.

## d) What is the expected number of bikers on a dry non-holiday Monday with 0 inches of rain and 10.5 hours of daylight?

## e) Notice that the dataset had an another column 'Temp (F)' but we aren't using it. Let's use that too and do this again.

Add the 'Temp (F)' column to our X data.

In [ ]:
# We use the following columns for our training.
data_x = data[['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun',
                'holiday', 'daylight_hrs', 'Rainfall (in)',
                'dry day', 'Temp (F)']].to_numpy()

# Separating out the target values.
data_y = data[["Number of bikers"]].to_numpy()

data_x.shape, data_y.shape

((2646, 12), (2646, 1))

## f) Split the dataset into training and testing sets again

## g) Train a linear regression model again

Build a linear regression model for predicting the numner of bikers using the mean squared error loss function.

## h) Predict and Evaluate Again!

Predict on the test set and calculate the average absolute error between predictions and true value.

Comment on the results. Did it change? Can you think of any information we can use to make a better(more informed) model?